/* Basic page setup */
* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a:link {
	color: #064ff9;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	color: #7306e0;
	background-color: transparent;
	text-decoration: underline;
}

a:hover {
	color: #042f95;
	background-color: #ecf5fe;
	text-decoration: underline;
}
	
	

/* Navigation Bar Styles */
#navbar {
    background-color: #ccf0ff;
    padding: 15px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul li {
    display: inline;
    margin-right: 20px;
}

#navbar ul li a {
    color: #001f47;
    text-decoration: none;
    padding: 10px;
}

#navbar ul li input[type="text"] {
    padding: 5px;
    border-radius: 4px;
}

/* Suggestions List */
.suggestion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 200px;
    display: none; /* Will show when there are suggestions */
}

.suggestion-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background-color: #e6e6e6;
}

/* Layout Styles */
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.left-section, .right-section {
    width: 45%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #064ff9;
    text-decoration: none;
}


.game_summary {
    padding: 0;
    width: 245px;
    background: #fff;
    border: 1px solid #b9ddf6;
	border-collapse: collapse;
    display: inline-block;
    text-align: left;
    color: #00008B;
}

.game_summary table {
    border-bottom: 1px solid #b9ddf6;
    width: 100%;
    padding: 4px;
}

.game_summary td:nth-last-child(1) {
    width: 35px
}

.game_summary td:nth-last-child(2) {
    width: 18px
}


/* Divider */
hr {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
}

/* Schedule Section */
#schedule {
    text-align: center;
    margin-top: 30px;
}

#calendar-placeholder {
    border: 2px dashed #ccc;
    padding: 50px;
    color: #777;
    font-size: 1.2rem;
}
